<!DOCTYPE html>
<html lang="nl">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="author name" />
    <meta name="application-name" content="app name" />
    <meta name="desciption" content="page description" />
    <meta name="keywords" content="Enter keywords here" />
    <!-- Social Media Meta tags -->
    <meta property="og:title" content="" />
    <meta property="og:type" content="" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />
    <meta name="theme-color" content="#222326" />
    <link rel="apple-touch-icon" sizes="180x180" href="#" />
    <link rel="icon" type="image/png" sizes="32x32" href="#" />
    <link rel="icon" type="image/png" sizes="16x16" href="#" />
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css" type="text/css" />
  </head>
  <body>
    <header>
      <!-- Header -->
    </header>
    <main>
      <!-- Main -->
    </main>
    <footer>
      <!-- Footer -->
    </footer>
  </body>
</html>
<script src="js/main.js" defer></script>
<script
  defer
  src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
></script>
